.women h2{
    margin-top: 100px;
    margin-left: 40px
}
.women__row{
    display: flex;
}
Link{
    display:flex;
    flex-direction: column;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin:10px ;
    width: 100%;

}